*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
    font-family: 'Yatra One';font-size: 22px;
    background-image : linear-gradient(45deg, #f78888, #9d8d8f);
  	
 	color: #05386b;
 	padding:50px 100px;
}

h3{
	border : 5px solid #05386b;
	margin-top:50px;
	padding:30px;
}